<%= form_with(model: traumatized_child) do |form| %>
  <% if traumatized_child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(traumatized_child.errors.count, "error") %> prohibited this traumatized_child from being saved:</h2>

      <ul>
        <% traumatized_child.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
