<p id="notice"><%= notice %></p>

<h1>Traumatized Children</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @traumatized_children.each do |traumatized_child| %>
      <tr>
        <td><%= traumatized_child.name %></td>
        <td><%= link_to 'Show', traumatized_child %></td>
        <td><%= link_to 'Edit', edit_traumatized_child_path(traumatized_child) %></td>
        <td><%= link_to 'Destroy', traumatized_child, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Traumatized Child', new_traumatized_child_path %>
