<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cruel_aunt.name %>
</p>

<p>
  <strong>Cruel aunt:</strong>
  <%= @cruel_aunt.cruel_aunt_id %>
</p>

<%= link_to 'Edit', edit_cruel_aunt_path(@cruel_aunt) %> |
<%= link_to 'Back', cruel_aunts_path %>
