<%= form_with(model: hollywoodesque_neurose) do |form| %>
  <% if hollywoodesque_neurose.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hollywoodesque_neurose.errors.count, "error") %> prohibited this hollywoodesque_neurose from being saved:</h2>

      <ul>
        <% hollywoodesque_neurose.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :child_actor_id %>
    <%= form.text_field :child_actor_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
