<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hollywoodesque_neurose.name %>
</p>

<p>
  <strong>Child actor:</strong>
  <%= @hollywoodesque_neurose.child_actor_id %>
</p>

<%= link_to 'Edit', edit_hollywoodesque_neurose_path(@hollywoodesque_neurose) %> |
<%= link_to 'Back', hollywoodesque_neuroses_path %>
