<p id="notice"><%= notice %></p>

<h1>Horrifyingly Large Insects!!!!</h1>

<img src="https://s27107.pcdn.co/wp-content/uploads/2017/09/giant-weta-1104x621.jpg">

<p>
  <%= link_to "Cruel Aunts", cruel_aunts_path %>
  <%= link_to "Hollywoodesque Neuroses", hollywoodesque_neuroses_path %>
  <%= link_to "Traumatized Children", traumatized_children_path %>
</p>

<p> These insects are so large! The children are traumatized. Their aunts are cruel! Their neuroses are Hollywoodesque!</p>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Traumatized child</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @horrifyingly_large_insects.each do |horrifyingly_large_insect| %>
      <tr>
        <td><%= horrifyingly_large_insect.name %></td>
        <td><%= horrifyingly_large_insect.traumatized_child_id %></td>
        <td><%= link_to 'Show', horrifyingly_large_insect %></td>
        <td><%= link_to 'Edit', edit_horrifyingly_large_insect_path(horrifyingly_large_insect) %></td>
        <td><%= link_to 'Destroy', horrifyingly_large_insect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Horrifyingly Large Insect', new_horrifyingly_large_insect_path %>
