<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @horrifyingly_large_insect.name %>
</p>

<p>
  <strong>Traumatized child:</strong>
  <%= @horrifyingly_large_insect.traumatized_child_id %>
</p>

<%= link_to 'Edit', edit_horrifyingly_large_insect_path(@horrifyingly_large_insect) %> |
<%= link_to 'Back', horrifyingly_large_insects_path %>
